/* react-modal
Accessible modal dialog component for React.JS */

.ReactModal__Overlay {
  opacity: 0;
  transition: all 400ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

@media screen and (min-width: 768px) and (max-width: 1368px) {
  .ReactModal__Content {
    zoom: 0.5;
  }
}

@media screen and (max-width: 767px) {
  .ReactModal__Content {
    zoom: 0.5;
  }
  .ReactModal__Content--after-open {
    top: 43% !important;
  }
}
